<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pancake.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pancake.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @pancake.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @pancake.stock %>
</p>

<p>
  <img src="<%= @pancake.image %>">
</p>

<%if signed_in?%>
  <%= link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@pancake), removeUrl: remove_from_cart_path(@pancake)} do %>
    <!-- <i class="fi-shopping-cart"></i> -->
    <i class="fa fa-cutlery" aria-hidden="true"></i>
    <span><%=@cart_action%></span> Plate
  <%end%>
<%end%>

<br>
<%= link_to 'Edit', edit_pancake_path(@pancake) %> |
<%= link_to 'Back', pancakes_path %>
